[submodule "deps/nya-engine"]
	path = deps/nya-engine
	url = https://bitbucket.org/nyan_developer/nya-engine.git
	branch = renderapi
	shallow = true
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "deps/miso"]
	path = deps/miso
	url = https://github.com/antze-k/miso
	shallow = true
[submodule "deps/zip"]
	path = deps/zip
	url = https://github.com/kuba--/zip
	shallow = true
