bin/
obj/
*.xcuserdata
*.pbxuser
*.xcuserstate
*.xcscheme
*.xccheckout
*.xcbkptlist
*.xcsettings
xcschememanagement.plist
*.xcscmblueprint
*.suo
*.ncb
*.sdf
*.vcproj.*.user
*.vcxproj.user
*.opensdf
*.VC.db
*.VC.opendb
