[submodule "deps/nya-engine"]
	path = deps/nya-engine
	url = https://bitbucket.org/nyan_developer/nya-engine.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
